@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #8B5CF6;
  --secondary: #EC4899;
}

body {
  @apply bg-dark text-gray-100;
}

@layer utilities {
  .text-gradient {
    @apply bg-gradient-to-r from-primary to-secondary bg-clip-text text-transparent;
  }
}
